<h2>Home</h2>
<p>This is a <strong>math</strong>/<strong>physics</strong> problem site inspired by <a href="https://projecteuler.net">Project Euler</a>.</p>

<p>The answer will always be an <strong>integer</strong>. Users can make the most of these problems when they search and study the underlying concepts along the way. Feel free to use computer software such as <a href="https://www.sagemath.org/">SageMath</a> or <a href="https://www.oscar-system.org/">OSCAR</a>, but it is always recommended to first give a try by hand.</p>

<p>We use <a href="https://katex.org/">KaTeX</a> to render inline math
  <span [appKatex]="'\\zeta(2) = \\frac{\\pi^2}{2}'"></span> and block math
  <span [appKatex]="'\\sum_{n=1}^\\infty \\frac{1}{n} = \\sum_{p \\text{ prime}} \\frac{1}{1 - p^{-s}}.'" [displayMode]="true"></span>
</p>
